.AppContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;
	background: rgb(21, 93, 141);
	width: 100vw;
	height: 707px;
}

.RightSection {
	flex: 0 0 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	color: white;
}

.RightSection > p {
	margin: 0;
	font-size: 20px;
}

.LeftSection {
	flex: 0 0 30%;
	background: rgb(58, 58, 58);
	padding: 20px;
}